:root {
  /* -------------color-------------------- */
  /* https://colornamer.robertcooper.me/  */
  --primary: #e83a45;
  --secondary: #2f80ed;
  --light: #f4f4f4;
  --white: #eaeaea;
  --gray-500: #333;
  --gray-300: #dcdcdc;
}
