:root {
  /* --------------font-------------------- */
  --font-family: 'Arial', sans-serif;

  /* -------------color-------------------- */
  /* https://colornamer.robertcooper.me/  */
  --primary: #e83a45;
  --secondary: #2f80ed;
  --light: #ffffff;
  --white: #eaeaea;
  --gray-500: #333;
  --gray-300: #dcdcdc;
}
